argon2-cffi==20.1.0
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
cffi==1.14.3
click==7.1.2
colorama==0.4.3
dnspython==2.0.0
flake8==3.8.4
Flask==1.1.2
Flask-Cors==3.0.9
iniconfig==1.1.1
isort==5.4.2
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pylint==2.6.0
pymongo==3.11.0
pyparsing==2.4.7
pytest==6.1.2
pytest-flake8==1.0.5
pytest-pylint==0.16.1
six==1.15.0
toml==0.10.1
Werkzeug==1.0.1
wrapt==1.12.1