.badges {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 1.5in;
  }
  .assignedItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 1px;
    cursor: pointer;
    box-shadow: 0 -5px 3px -3px blue, 0 5px 3px -3px blue;
    /* box-shadow: 0px 0px 15px -10px rgba(0, 0, 0.5, 0.75); */
    
  }
  
  .title{
      font-size: 50px;
  }
  .titleText{
    font-size: 18px;
    text-align:right;
  }
   