# Default ignored files
/shelf/
/workspace.xml
.\backend_variable.env
# Datasource local storage ignored files
/../../../../../../../:\Users\sriks\AI_Panoply\AI_Panoply_Enterprise\DXC-Industrialized-AI-Badge-Platform\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
